<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GokuAndFriends_B19.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3A001FF2D95CE1C00146194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3A002152D95CE1D00146194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3A0021F2D95CE1D00146194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
